<section id="about">
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
  <% if (theme.social_links) { %>
    <p>
      <%= __('index.find_me_on') %>
      <% var nb_links = Object.keys(theme.social_links).length %>
      <% var i = 0 %>
      <% for(var link in theme.social_links) { %>
        <% if (link == 'mail') { %>
          <a class="icon" target="_blank" rel="noopener" href="<%- theme.social_links[link] %>">
            <svg viewBox="0 0 512 512" class="svg-icon"><title id="catTitle">Email</title><path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z" class=""></path></svg><!--
      ---></a><!--
      ---><% } else if (link == 'rss') { %>
          <a class="icon" target="_blank" rel="noopener" href="<%- url_for(theme.social_links[link]) %>">
            <svg viewBox="0 0 448 512" class="svg-icon"><title id="catTitle">Feed</title><path fill="currentColor" d="M400 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM112 416c-26.51 0-48-21.49-48-48s21.49-48 48-48 48 21.49 48 48-21.49 48-48 48zm157.533 0h-34.335c-6.011 0-11.051-4.636-11.442-10.634-5.214-80.05-69.243-143.92-149.123-149.123-5.997-.39-10.633-5.431-10.633-11.441v-34.335c0-6.535 5.468-11.777 11.994-11.425 110.546 5.974 198.997 94.536 204.964 204.964.352 6.526-4.89 11.994-11.425 11.994zm103.027 0h-34.334c-6.161 0-11.175-4.882-11.427-11.038-5.598-136.535-115.204-246.161-251.76-251.76C68.882 152.949 64 147.935 64 141.774V107.44c0-6.454 5.338-11.664 11.787-11.432 167.83 6.025 302.21 141.191 308.205 308.205.232 6.449-4.978 11.787-11.432 11.787z" class=""></path></svg><!--
      ---></a><!--
      ---><% } else if (link == 'github') { %>
          <a class="icon" target="_blank" rel="noopener" href="<%- url_for(theme.social_links[link]) %>">
            <svg viewBox="0 0 496 512" class="svg-icon"><title id="catTitle">Github</title><path fill="currentColor" d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" class=""></path></svg><!--
      ---></a><!--
      ---><% } else { %>    
          <a class="icon" target="_blank" rel="noopener" href="<%- url_for(theme.social_links[link]) %>">
            <svg viewBox="0 0 448 512" class="svg-icon"><title id="catTitle">Linkedin</title><path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z" class=""></path></svg><!--
      ---></a><!--
    ---><% } %><!--
    ---><%= ( nb_links > 0 && i < nb_links-1 ?
            ( i == nb_links-2 ? ' '+__('index.enum_and')+' '
            : __('index.enum_comma')+' ' )
            : '.' ) %>
        <% i+=1 %>
      <% } %>
    </p>
  <% } %>
</section>

<p>
  Sou Cleyson, desenvolvedor de Software e formado em Ciência da Computação na <a href="https://furb.br/">FURB</a>. Tenho 24 anos (ou teria caso não tivesse feito um <i>update</i> sem <i>where</i>). Entusiasta de tudo relacionado a programação, estou o tempo inteiro aprendendo e buscando explorar novas tecnologias. Nas horas vagas também um viajante, que tenta conhecer novas culturas sempre que a oportunidade aparece. Compartilhe esse blog com 20 pessoas para evitar que o <i>update</i> sem <i>where</i> também atinja você.
</p>

<section id="writing">
  <span class="h1"><a href="<%- url_for("archives") %>"><%= __('index.articles') %></a></span>
  <% if (theme.tags_overview && site.tags.length) { %>
  <span class="h2"><%= __('index.topics') %></span>
  <span class="widget tagcloud">
    <%- tagcloud(theme.tags_overview) %>
  </span>
  <span class="h2"><%= __('index.most_recent') %></span>
  <% } %>
  <ul class="post-list">
    <% var field_sort = theme.posts_overview.sort_updated ? 'updated' : 'date' %>
    <% if (theme.posts_overview.show_all_posts) { %>
      <% var show_posts = page.posts.filter(p => !p.path.includes('/en/')).sort(field_sort, 'desc') %>
    <% } else { %>
      <% var show_posts = site.posts.filter(p => !p.path.includes('/en/')).sort(field_sort, 'desc').limit(theme.posts_overview.post_count || 5) %>
    <% } %>
    <% show_posts.each(function(post, i){ %>
      <li class="post-item">
        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
      </li>
    <% }); %>
  </ul>
  <% if (theme.posts_overview.show_all_posts) { %>
    <%- partial('_partial/pagination') %>
  <% } %>
</section>
<style>
.floating-face {
  height:150px;
  width:150px;
  cursor:pointer;
  position:absolute;
  top: 10px;
  left: 50%;
}

.floating-face:nth-of-type(odd) {
  animation: move 5s infinite linear alternate;
}

.floating-face:nth-of-type(even) {
  animation-duration: 7s;
  transform: translateY(calc(200vh - 3rem));
  top: 10px;
  left: 30%;
  animation: move2 5s infinite linear alternate;
}

.floating-face:nth-of-type(n+4) {
  animation-duration: 16s;
  top: 20px;
  left: 65%;
}

.floating-face:nth-of-type(n+5) {
  animation-duration: 32s;
  top: 25px;
  left: 50%;
}

.floating-face:nth-of-type(n+6) {
  animation-duration: 23s;
  animation-direction: alternate-reverse;
}

.floating-face:nth-of-type(n+7) {
  animation-duration: 22s;
  animation-direction: alternate-reverse;
}

.floating-face:nth-of-type(n+8) {
  animation-duration: 35s;
  animation-delay: 1.5s;
}

.floating-face:nth-of-type(n+9) {
  animation-duration: 12s;
  animation-delay: 0.5s;
  right: 10%;
}

.floating-face:nth-of-type(n+10) {
  animation-duration: 14s;
  animation-delay: 0.3s;
}

.floating-face:nth-of-type(n + 3) {
  animation-delay: 1s;
}

.floating-face:nth-of-type(-n + 3) {
  animation-duration: 14s;
}

.floating-face:nth-of-type(3) {
  animation: move3 20s infinite linear alternate;
  top: 50px;
  right: 50px;
}
.floating-face:nth-of-type(4) {
  animation: move2 21s infinite linear alternate;
  animation-direction: alternate-reverse;
  top: 100px;
  right: 100px;
}
.floating-face:nth-of-type(5) {
  top: 150px;
  right: 150px;
}
.floating-face:nth-of-type(6) {
  top: 20px;
  right: 150px;
}
.floating-face:nth-of-type() {
  top: 160px;
  right: 20px;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(calc(30vh)) translateX(5vw);
  }
  40% {
    transform: translateY(calc(80vh - 3rem)) translateX(-20vw);
  }
  60% {
    transform: translateY(calc(50vh - 3rem)) translateX(-10vw);
  }
  80% {
    transform: translateY(calc(85vh - 3rem)) translateX(10vw);
  }
  100% {
    transform: translateY(calc(100vh - 3rem));
  }
}

@keyframes move2 {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(calc(10vh)) translateX(10vw);
  }
  40% {
    transform: translateY(calc(50vh - 3rem)) translateX(20vw);
  }
  60% {
    transform: translateY(calc(85vh - 3rem)) translateX(-10vw);
  }
  80% {
    transform: translateY(calc(32vh - 3rem)) translateX(-10vw);
  }
  100% {
    transform: translateY(calc(90vh - 3rem));
  }
}


@keyframes move3 {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(calc(20vh)) translateX(8vw);
  }
  40% {
    transform: translateY(calc(25vh - 3rem)) translateX(22vw);
  }
  60% {
    transform: translateY(calc(62vh - 3rem)) translateX(10vw);
  }
  80% {
    transform: translateY(calc(43vh - 3rem)) translateX(-10vw);
  }
  100% {
    transform: translateY(calc(10vh - 3rem));
  }
}


</style>
<script>
  const items = [
    { image: 'face0.svg', title: 'Gerador de Rostos', link: 'https://faces.cgreinhold.dev/' },
    { image: 'face1.svg', title: 'Chapéu Seletor', link: 'https://sortinghat.cgreinhold.dev/' },
    { image: 'face2.svg', title: 'CGRCode', link: 'https://cgreinhold.dev/2020/05/07/cgrcode/' },
    { image: 'face3.svg', title: 'Freecell', link: 'https://cgreinhold.dev/2020/10/12/freecell/' },
    { image: 'face4.svg', title: 'Clippy', link: 'https://cgreinhold.dev/2019/08/25/clippy-revival/' },
    { image: 'face5.svg', title: 'Super Octagon', link: 'https://cgreinhold.dev/2020/09/29/super-octagon/' },
    { image: 'face6.svg', title: 'Bolão da Copa', link: 'https://github.com/CGReinhold/BolaoDaCopa/' },
    { image: 'face7.svg', title: 'Brick Game', link: 'https://cgreinhold.dev/2020/07/28/brick/' },
    { image: 'face8.svg', title: '101 coisas não convencionais', link: 'https://todo.cgreinhold.dev/' },
    { image: 'face9.svg', title: 'Palavras', link: 'https://cgreinhold.dev/2020/05/25/word-games/' },
  ]
  const body = document.querySelector('body');

  for (const item of items) {
    body.innerHTML += `<img class="floating-face" src="/images/svg/${item.image}" alt="${item.title}" onclick="window.location.href = '${item.link}'" />`;
  }
</script>