<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<%- partial('_partial/head') %>
<body class="max-width mx-auto px3">
    <img src="/.netlify/functions/analytics" referrerpolicy="origin-when-cross-origin" style="height: 1px; width: 1px;position:absolute;" />
    <div class="content index py4">
        <% if (!is_post() && !page.special) { %>
          <%- partial('_partial/header') %>
        <% } %>
        <% if (page.special) { %>
          <header>
            <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
          </header>
        <% } %>
        <%- body %>
        <% if (!page.special) { %>
          <% if (is_post()) { %>
            <div class="navigation">
              <% if (page.prev) { %>
                <a class="icon" href="<%- url_for(page.prev.path) %>"><%= __('post.desktop.previous') %></a>
                <% } %>
                <div></div>
              <% if (page.next) { %>
                <a class="icon" href="<%- url_for(page.next.path) %>"><%= __('post.desktop.next') %></a>
              <% } %>
            </div>
          <% } %>
          <%- partial('_partial/footer') %>
        <% } %>
    </div>
    <%- partial('_partial/styles') %>
    <% if (page.translated) { %>
      <div class="languages">
        <a href="?lang=en">English</a>
        <a href="?lang=pt">Português</a>
      </div>
    <% } %>
    <script type="text/javascript">
      window._ALPINA_ID="3213b40f-2924-4643-80a8-5fbe152e4a75";
      (function() {
        d=document;s=d.createElement("script");
        s.src="https://x.alpina.io/wa.js";
        s.async=1;
        d.getElementsByTagName("head")[0].appendChild(s);
      })();
    </script>    
</body>
</html>
